<!DOCTYPE html>
<html lang="en" id="app">
<head>
    <meta charset="UTF-8">
    <title>装内助SaaS系统PC移植版</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <script>
        !(function () {
            var K, metaViewport
            var rootElement = document.documentElement
            var suitObj = {}
            var userAgent = window.navigator.userAgent
            // 是否为ios系统
            var isIphone = (!!userAgent.match(/android/gi), !!userAgent.match(/iphone/gi))
            // 是否为OS 9_3
            var isOS = isIphone && !!userAgent.match(/OS 9_3/)
            // 像素比
            var devicePixelRatio = window.devicePixelRatio
            // isApple
            var isApple = isIphone && !isOS
            var isPhone6 = devicePixelRatio >= 3
            var isPhone5 = devicePixelRatio >= 2

            function L() {
                var a = rootElement.getBoundingClientRect().width
                a / dataDpr > 768 && (a = 768 * dataDpr)
                var d;
                var u = navigator.userAgent;
                if (u.indexOf('MX6') >= 0) {
                    d = (a / 7.5) * 0.6;
                } else {
                    d = a / 7.5
                }
                rootElement.style.fontSize = d + 'px'
                suitObj.rem = window.rem = d
                if (document.getElementById('app').offsetWidth > 1100) {
                    rootElement.style.fontSize = '60px'
                } else {

                    rootElement.style.fontSize = d * a / document.getElementById('app').offsetWidth + 'px'
                }
            }

            var x, y
            if (isPhone5) {
                x = 2
            } else {
                x = 1
            }
            if (isPhone6) {
                y = 3
            } else {
                y = x
            }
            // 若是apple,data-dpr为devicePixelRatio,否则都为1,缩放比为 "1/像素比"
            // var dataDpr = isApple ? y : 1
            var dataDpr = 1
            var scale = 1 / dataDpr

            // 设置 html 的data-dpr
            rootElement.setAttribute('data-dpr', dataDpr)
            metaViewport = document.createElement('meta')
            metaViewport.setAttribute('name', 'viewport')
            metaViewport.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no')
            // 插入meta标签
            if (document.firstElementChild) {
                rootElement.firstElementChild.appendChild(metaViewport)
            } else {
                var u = document.createElement('div')
                u.appendChild(metaViewport)
                document.write(u.innerHTML)
            }
            window.addEventListener('resize', function () {
                clearTimeout(K)
                K = setTimeout(L, 300)
            })
            window.addEventListener('pageshow', function (b) {
                b.persisted && (clearTimeout(K), K = setTimeout(L, 300))
            })
            var isReady = (document.readyState === 'complete')
            if (isReady) {
                document.body.style.fontSize = 12 * dataDpr + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', function () {
                    document.body.style.fontSize = 12 * dataDpr + 'px'
                })
            }
            L()
            suitObj.dpr = window.dpr = dataDpr
            suitObj.refreshRem = L
            suitObj.rem2px = function (d) {
                var c = parseFloat(d) * this.rem
                typeof d && d.match(/rem$/) && (c += 'px') === 'string'
                return c
            }
            suitObj.px2rem = function (d) {
                var c = parseFloat(d) / this.rem
                typeof d && d.match(/px$/) && (c += 'rem') === 'string'
                return c
            }
        })()
    </script>
    <link rel="stylesheet" href="css/index.css ">
</head>
<body>
<div class="wap-wrap" id="demo">
    <div class="receMain">
    <div class="personnelTit">
        <div onclick="javascript:window.history.back();return false;"></div>
        <span>收款状态</span>
        <span class="blue header-tit-r" @click="instructions">说明</span>
    </div>
    <div class="main" style="top: 0.88rem;padding-top: 0.2rem;overflow-y: auto;">
     <span  v-show="staty" style="display: block;width: 100%;height: 50px;background: rgba(0,0,0,0.7);font-size: 15px;color: #fff;position: absolute;">最后一笔收款（或相关收款），可参考实际发生的增减项进行二次调整，保证数据的准确性。</span>
            <div class="receTit">
                <span>总已收:{{totalReceivablesMoney}}元</span>
                <span>总待收：{{dai}}元</span>
                <span>总应收:{{totalFundMoney}}元</span>
            </div>
            <h3>
                <span>款项名称</span>
                <span>已收</span>
                <span>需收</span>
            </h3>
            <div class="receBox">
                <div class="rece-box" v-for="(ite,index) in item" @click="_link(index)" >
                    <span>{{ite.projectFundName}}</span>
                    <span  v-if="ite.receiveState!='审核通过'&&ite.receiveState!=''" class="on">{{ite.aleadyMoney}}</span>
                    <span  v-else class="none">{{ite.aleadyMoney}}</span>
                    <span  v-if="ite.needState=='待审核'" class="on">{{ite.needMoney}}</span>
                    <span v-else class="none">{{ite.needMoney}}</span> 
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script>
let  data2= localStorage.getItem('key');
let  userId=Number(data2);
let org=localStorage.getItem('orgkey');
let pro=localStorage.getItem('pro');
    $(function () {
        var app=new Vue({
            el:'#demo',
            data:{
                staty:false,
                item:[],
                total:'',
                totalReceivablesMoney:'',//总已收
                totalFundMoney:'',//总应收
                dai:'',
            },
            beforeCreate:function(){
                let that=this;
                    $.ajax({    //获取项目收款状态明细
                        "url":"http://app.zhuangneizhu.com/v2/set/gainProjectFund.do",
                        "type":"post",
                        "anyns":true,
                        data:{
                            projectId:pro,
                            userId:userId,
                            version:"2.9",
                            organizationId:org,
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data);
                            that.item=data.data.vos;
                            that.total=data.data.moreOrLess;
                            that.totalReceivablesMoney=data.data.totalReceivablesMoney;
                            that.totalFundMoney=data.data.totalFundMoney;
                            that.dai=data.data.residueFundMoney;
                        },
                        "error":function(){
                            console.log("错误");
                        }
            });
            },

            methods:{
                instructions:function(){
                    let that=this;
                    that.staty=!that.staty;
                },
                _link:function (myid) {
                    window.location.href="MASdesignfee.html?myid="+myid;
                },
            }
        })
    })
</script>
</html>