    <!DOCTYPE html>
<html lang="en" id="app">
<head>
    <meta charset="UTF-8">
    <title>装内助SaaS系统PC移植版</title>
    <link href="image/titlogo.ico" rel="SHORTCUT ICON">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="css/index.css ">
    <link rel="stylesheet" type="text/css" href="css/loding.css">
    <script type="text/javascript" src="js/JR.js"></script>
</head>
<body>
<div class="wap-wrap" id="demo" v-cloak>
    <!-- 加载开始 -->
    <div id="loader-wrapper" style="margin: 0,auto;position: absolute;" v-show="loding">
        <div id="loader"></div>
        <div class="loader-section"></div>
    </div>
    <!-- 加载结束 -->
    <div class="header" style="height:0.88rem;">
        <div class="header-tit">
            <a class="header-tit-l" @click="search"></a>
            {{organizationname}}
            <a class="blue header-tit-r" @click="addmamber">添加成员</a>
        </div>
    </div>
    <div class="mainBox" style="padding: 0.2rem 0;top:0.88rem;" >
        <div class="member-item" v-for="(value,index) in people"  v-cloak :style="txtStyle" @click="_personnelBox(index)">
            <div class="member-itemBox" >
                <div class="member-l">{{value.organizationUserName}}</div>
                <div class="member-tel">
                    <h3>{{value.mobile}}</h3>
                    <p>
                        <span>{{value.departName}}</span>
                        <span> {{value.roleName}}</span>
                    </p>
                </div>
                <div class="member-r">
                <h3 v-if="value.isSupervisor">部门主管</h3><!-- //部门主管 -->
                <p v-if="value.isAdmin">管理员</p><!-- //管理员 -->
            </div>
            </div>
            <div class="deleteIcon" :style="zIndex"  @click.prevent="deleteItem(index)">删除</div>
        </div>
    </div>
    <!--底部-->
    <div class="appFot">
        <a href="project.html"><img src="image/fot1-1.jpg" alt=""><span>项目</span></a>
        <a href="news.html"><img src="image/fot2-1.jpg" alt=""><span>消息</span></a>
        <a href="new.html"><img src="image/fot3-2.jpg" alt="" style="width: 0.64rem;height: 0.64rem;margin-top: 0.2rem;"></a>
        <a href="member.html"><img src="image/fot4-2.jpg" alt=""><span>成员</span></a>
        <a href="personal.html"><img src="image/fot5-1.jpg" alt=""><span>我的</span></a>
    </div>
    <!--编辑人员弹窗-->
    <div class="personnelBox" v-show="personnelshow" :data-id="personnelId">
        <div class="personnelTit">
            <div @click="personnelshow=false"></div>
            编辑成员
            <a><span style="display: inline-block;float: right;font-size:0.3rem;color: #5677FC;padding-right: 0.2rem;" @click="_preservation">确定</span></a>
        </div>
        <div class="personnelMain" v-cloak>
            <div><input type="text" placeholder="请输入手机号码" v-model="personnel.tel" disabled="true" style="color:rgba(144,144,144,0.8);"></div>
            <div><input type="text" placeholder="请输入成员姓名" v-model="personnel.name"></div>
            <div @click="_memberdown(0,'department02')"><span>{{personnel.department02}}</span></div>   <!-- 角色 -->
            <div @click="_memberdown(1,'department01')"><span>{{personnel.department01}}</span></div>   <!-- 部门 -->
            <div @click="_memberdown(2,'director02')"><span>{{personnel.director02}}</span></div>       <!-- 管理员 -->
            <p style="color: red;line-height: 0.3rem;padding-left:0.3rem;padding-right: 0.3rem;padding-top: 0.2rem;font-size: 0.24rem">*手机号用于身份识别，暂不支持修改。如需修改，请删除成员后重新添加。</p>
        </div>
        <div class="personnel-close" @click="_close">删除</div>
    </div>
    <!--下拉弹窗-->
    <div class="member-down"  v-show="mainmu"  v-cloak>
        <h3>{{memberdownbox.name}}</h3>
        <div class="member-downBox">
            <div v-for="(value,index) in memberdownbox.key" @click="_downBox(value,index)" style="color: #000">{{value}}</div>
        </div>
        <h3 style="margin-top: 0.1rem" @click="mainmu=false">取消</h3>
    </div>
    <!--弹窗幕-->
    <div class="main-mu" v-show="mainmu" @click="mainmu=false"></div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script>
let  data2= localStorage.getItem('key');
let  userId=Number(data2);
var  org=localStorage.getItem('orgkey');
var  ver=localStorage.getItem('version')
    $(function(){
        var app = new Vue({
            el:'#demo',
            data:{
                loding:true,
                k:'',//判断是否是管理员
                people:[],//获取公司成员
                roldata:[],//存放与角色相关的信息
                departdata:[],//存放与部门相关的信息
                mainiindex:'',//最外层的索引（列表成员）
                index:'',//判断第几组下拉框的索引
                rolid:'',//修改时所需要的角色id
                rolname:'',//修改时所需要的角色名称
                depardid:'',//修改时所需要的部门id
                depardname:'',//修改时所需的部门名称
                admin:'',//修改时判断是否为管理员
                organizationname:'',//公司名称

                startX: 0,       //触摸位置
                moveX: 0,       //滑动时的位置
                disX: 0,       //移动距离
                txtStyle: '',
                delWidth: 200,
                top: '',
                zIndex: 'z-index:-1',
                type:'',
                personnelshow:false,//编辑页面的显示隐藏判断值
                personnelId:'',//判断修改的是第几个用户
                mainmu:false,//下拉框和下拉框幕显示隐藏的判断值
                memberdownbox:{name:'',key:[]},//存放下拉框的内容
                memberdown:[
                    {
                        name:'选择成员角色',
                        key:[]
                    },
                    {
                        name:'选择部门',
                        key:[]
                    },
                    {
                        name:'是否设置管理',
                        key:['管理员','非管理员']
                    }
                ],
                personnel:{
                    name:"",
                    tel:'',
                    department01:'',//部门
                    department02:'',//角色
                    director02:''//管理员
                },//存放需要修改的成员信息
            },
            beforeCreate:function(){
                 let that=this;
                  $.ajax({    //获取公司联系人列表
                        "url":"http://app.zhuangneizhu.com/v2/set/gainOrganizationUser.do",
                        "type":"post",
                        data:{
                          // departId:,
                          organizationId:org,
                          userId:userId,
                          version:ver,
                          // keyWord:,
                        },
                        "dataType":"json",
                        "success":function(data){
                            that.loding=false;
                            console.log(data);
                            that.people=data.data;
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    });
                  $.ajax({    //获取员工角色
                        "url":"http://app.zhuangneizhu.com/set/gainEmployeeType.do",
                        "type":"post",
                        data:{
                          organizationId:org,
                          userId:userId,
                          version:ver,
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data.data);
                            that.roldata=data.data;
                            for(var i = 0 ;i < data.data.length ; i++){
                            that.memberdown[0].key.push(data.data[i].roleName);      
                            };
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    });
                  $.ajax({    //获取部门信息
                        "url":"http://app.zhuangneizhu.com/v2/set/gainDepartInfo.do",
                        "type":"post",
                        data:{
                          organizationId:org,
                          userId:userId,
                          version:ver,
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data.data);
                            that.departdata=data.data;
                            for(var i = 0 ;i < data.data.length ; i++){
                            that.memberdown[1].key.push(data.data[i].departName);      
                            };
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    });
                  $.ajax({    //获取公司名称
                        "url":"http://app.zhuangneizhu.com/set/gainCompanyName.do",
                        "type":"post",
                        data:{
                          userId:userId,
                          organizationId:org,
                          version:ver,
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data); 
                            that.organizationname=data.data.organizationName;
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    });
                 $.ajax({    //判断用户是否管理员
                        "url":"http://app.zhuangneizhu.com/user/gainIsOrNotAdmin.do",
                        "type":"post",
                        data:{
                          organizationId:org,
                          userId:userId,
                          version:ver,
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data);
                            that.k=data.data.isAdmin;
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    });
            },
            methods:{
                search:function(){
                    window.location.href="search.html?key="+1;
                },
                addmamber:function(){
                    let that=this;
                    if (that.k==true) {
                        window.location.href="addmember.html";
                    }else{
                        alert("你的权限不够，请联系管理员。");
                    }
                },
                _close:function(){
                    let that=this
                    let key=that._data.personnelId
                    console.log(key);
                    if(confirm("确认删除吗")){
                    that._data.personnelshow=false;
                    let sUserId=that.people[that.mainiindex].userId;
                    $.ajax({    //删除公司联系人
                        "url":"http://app.zhuangneizhu.com/user/delContactsInfo.do",
                        "type":"post",
                        data:{
                        sUserId:sUserId,
                        userId:userId,
                        organizationId:org,
                        version:ver,    
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data);
                            if(data.code==10000){
                                that.people.splice(key,1)
                            }
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    })
                }else{
                        return;
                    }
                },
                //保存按钮
                _preservation:function(){
                    let that=this;
                    let key= that._data.personnelId;
                    let k =that._data.personnel;
                    that._data.memberdownbox[key]=k;
                    that._data.personnelshow=false;
                    console.log(k,key);
                    let sUserId=that.people[that.mainiindex].userId;
                    console.log(sUserId);
                $.ajax({    //修改公司联系人
                        "url":"http://app.zhuangneizhu.com/v2/set/editContactsInfo.do",
                        "type":"post",
                        data:{
                        sUserId:sUserId,
                        userId:userId,
                        name:that.personnel.name,
                        mobile:that.personnel.tel,
                        roleId:that.rolid,
                        roleName:that.rolname,
                        organizationId:org,
                        departId:that.depardid,
                        departName:that.depardname,
                        version:ver,    
                        isAdmin:that.admin
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data);
                            window.location.href="member.html";
                         },
                        "error":function(){
                         console.log("输入有误");
                        }
                    })
                },
                //下拉弹窗点击
                _downBox:function(e,index){
                    let that=this;
                    console.log(e,index);
//                    console.log(e)
                    let k =that._data.type;//对应的那个组
//                    let a=that._data.personnel
                    that._data.personnel[k]=e;
//                    console.log(e)
                    that._data.mainmu=false;
                    let judgeindex=that.index;
                     if(judgeindex==0){
                    that.rolid=that.roldata[index].organizationRoleId;
                    that.rolname=that.roldata[index].roleName;
                    // console.log(rolid,rolname);
                    }else if (judgeindex==1) {
                    that.depardid=that.departdata[index].id;
                    that.depardname=that.departdata[index].departName;
                    // console.log(depardid,depardname);
                    }else if (judgeindex==2) {
                        if (index==0) {
                            that.admin=true;  
                        }else{
                            that.admin=false;
                        }
                    }
                },
                //编辑页面点击
                _memberdown:function (e,key) {
                    let that=this;
                    that._data.mainmu=true;
                    that._data.memberdownbox=that._data.memberdown[e];
                    that._data.type=key;
                   console.log(e,key);
                    that.index=e;
                },
                //人员点击
                _personnelBox:function (index) { 
                      console.log(index);
                      let that=this;
                  if(that.k==true){  
                      that.mainiindex=index;
                      that.personnel.tel = that.people[index].mobile;
                      that.personnel.name = that.people[index].organizationUserName;
                      that.personnel.department01 = that.people[index].departName;
                      that.personnel.department02 = that.people[index].roleName;
                      that.rolid=that.people[index].roleId;
                      that.rolname=that.people[index].roleName;
                      that.depardid=that.people[index].departId;
                      that.depardname=that.people[index].departName;
                      let a=that.people[index].isAdmin;
                      if (a==true) {
                        that.personnel.director02='管理员'
                      }else{
                        that.personnel.director02='非管理员'
                      }
                    that._data.personnelshow = true;
                    that._data.personnelId=index;
                  }else{
                        alert("权限不够，请联系管理员。")
                    }  
                }
            }
        })
    })
</script>
</html>