<!DOCTYPE html>
<html lang="en" id="app">
<head>
    <meta charset="UTF-8">
    <title>装内助SaaS系统PC移植版</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <script>
        !(function () {
            var K, metaViewport
            var rootElement = document.documentElement
            var suitObj = {}
            var userAgent = window.navigator.userAgent
            // 是否为ios系统
            var isIphone = (!!userAgent.match(/android/gi), !!userAgent.match(/iphone/gi))
            // 是否为OS 9_3
            var isOS = isIphone && !!userAgent.match(/OS 9_3/)
            // 像素比
            var devicePixelRatio = window.devicePixelRatio
            // isApple
            var isApple = isIphone && !isOS
            var isPhone6 = devicePixelRatio >= 3
            var isPhone5 = devicePixelRatio >= 2

            function L() {
                var a = rootElement.getBoundingClientRect().width
                a / dataDpr > 768 && (a = 768 * dataDpr)
                var d;
                var u = navigator.userAgent;
                if (u.indexOf('MX6') >= 0) {
                    d = (a / 7.5) * 0.6;
                } else {
                    d = a / 7.5
                }
                rootElement.style.fontSize = d + 'px'
                suitObj.rem = window.rem = d
                if (document.getElementById('app').offsetWidth > 1100) {
                    rootElement.style.fontSize = '60px'
                } else {

                    rootElement.style.fontSize = d * a / document.getElementById('app').offsetWidth + 'px'
                }
            }

            var x, y
            if (isPhone5) {
                x = 2
            } else {
                x = 1
            }
            if (isPhone6) {
                y = 3
            } else {
                y = x
            }
            // 若是apple,data-dpr为devicePixelRatio,否则都为1,缩放比为 "1/像素比"
            // var dataDpr = isApple ? y : 1
            var dataDpr = 1
            var scale = 1 / dataDpr

            // 设置 html 的data-dpr
            rootElement.setAttribute('data-dpr', dataDpr)
            metaViewport = document.createElement('meta')
            metaViewport.setAttribute('name', 'viewport')
            metaViewport.setAttribute('content', 'initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no')
            // 插入meta标签
            if (document.firstElementChild) {
                rootElement.firstElementChild.appendChild(metaViewport)
            } else {
                var u = document.createElement('div')
                u.appendChild(metaViewport)
                document.write(u.innerHTML)
            }
            window.addEventListener('resize', function () {
                clearTimeout(K)
                K = setTimeout(L, 300)
            })
            window.addEventListener('pageshow', function (b) {
                b.persisted && (clearTimeout(K), K = setTimeout(L, 300))
            })
            var isReady = (document.readyState === 'complete')
            if (isReady) {
                document.body.style.fontSize = 12 * dataDpr + 'px'
            } else {
                document.addEventListener('DOMContentLoaded', function () {
                    document.body.style.fontSize = 12 * dataDpr + 'px'
                })
            }
            L()
            suitObj.dpr = window.dpr = dataDpr
            suitObj.refreshRem = L
            suitObj.rem2px = function (d) {
                var c = parseFloat(d) * this.rem
                typeof d && d.match(/rem$/) && (c += 'px') === 'string'
                return c
            }
            suitObj.px2rem = function (d) {
                var c = parseFloat(d) / this.rem
                typeof d && d.match(/px$/) && (c += 'rem') === 'string'
                return c
            }
        })()
    </script>
    <link rel="stylesheet" href="css/index.css ">
</head>
<body>
<div class="wap-wrap" id="demo">
    <div class="head-min" style="height: 0.88rem;">
        <div class="personnelTit"><div @click="back"></div><!-- onclick="javascript:window.history.back();return false;" -->
            <span>项目进度</span>
        </div>
    </div>
    <div class="main" style="top: 0.88rem; padding: 0.2rem 0;overflow-y: auto;">
        <div class="sched-tit">
            <span>类目</span>
            <span>状态</span>
            <span>操作人</span>
            <span>计划完成时间</span>
        </div>
        <div class="sched-box">
            <h3 v-for="(value,index) in data"  style="font-weight:500" @click="_link(index)">
                <span v-if="value.isDelay" style="color:red">{{value.organizationScheduleName}}</span>
                <span v-else-if="value.isNew" style="color:blue">{{value.organizationScheduleName}}</span>
                 <span v-else >{{value.organizationScheduleName}}</span>
                 <span v-if="value.state&&value.isNew" style="color:blue">完成</span>
                 <span v-else-if="((value.state==false)&&value.isDelay)" style="color:red">未完成</span>
                 <span v-else>未完成</span>
                <span v-if="value.isDelay" style="color:red">{{value.userName}}</span>
                <span v-else-if="value.isNew" style="color:blue">{{value.userName}}</span>
                <span v-else>{{value.userName}}</span>
                <span v-if="value.isDelay" style="color:red">{{value.scheduleTime}}</span>
                <span v-else-if="value.isNew" style="color:blue">{{value.scheduleTime}}</span>
                <span v-else-if="value.scheduleTime!=null">{{value.scheduleTime}}</span>
                <span v-else>未设置</span>
            </h3>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script>
let  data2= localStorage.getItem('key');
let  userId=Number(data2);
let  org=localStorage.getItem('orgkey');
let  pro=localStorage.getItem('pro');
let index=window.location.href.split("=")[1];
console.log(index);
    $(function(){
        var app=new Vue({
            el:'#demo',
            data:{
                data:'',//模板内容
                schshow:true,//修改弹窗显示隐藏判断
                // tit:'安排设计师',//存放修改弹窗的name
            },
          beforeCreate:function(){ 
                let that=this;
                             $.ajax({  //获取项目进度列表
                        "url":"http://app.zhuangneizhu.com/project/gainProjectSchedule.do",
                        "type":"post",
                        data:{
                              projectId:pro,
                              organizationId:org,
                              userId:userId,
                              version:"2.9",
                        },
                        "dataType":"json",
                        "success":function(data){
                            console.log(data);
                            that.data=data.data.vos;
                        },
                        "error":function(){
                            console.log("错误");
                        }
                    });
            } ,
            methods:{
                _link:function (myid) {
                    window.location.href="schedulepage.html?index="+index+"&myid="+myid;
                },
                back:function(){
                    window.location.href="detailed.html?index="+index;
                }
            }
        })
    })
</script>
</html>