<!DOCTYPE html>
<html lang="en" id="app">
<head>
    <meta charset="UTF-8">
    <title>装内助SaaS系统PC移植版</title>
    <link href="../image/titlogo.ico" rel="SHORTCUT ICON">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="../css/index.css ">
    <script type="text/javascript" src="../js/JR.js"></script>
</head>
<body>
<div class="wap-wrap" id="demo">
    <div class="personnelTit">
        <div @click="back"></div>
        <span>新增人工支出记录</span>
    </div>
    <div class="main" style="top: 0.88rem;padding-top: 0.2rem;overflow-x: hidden;overflow-y:auto;">
        <div class="addrecBox" style="overflow-y:hidden;">
            <div class="addrec-box" @click="showOnOff">
                <span style="display: block;width:1.8rem;height: 0.8rem;">人工支出类型</span>
                <p style="color: #000;width:4rem;">{{txt}}</p>
                <i></i>
            </div>
            <div v-show="peopleStyleShow">
                <div class="addrec-box" v-for="(value,index) in peopleStylearr ">
                <span v-if="value.limitName=='WATEELECTRICITY支出'" style="display: block;float:left;width: 2rem;height: 0.88rem;color:#808083 "@click="styleTxt(index)">水电人工支出</span>
                <span v-if="value.limitName=='MUD支出'" style="display: block;float:left;width: 2rem;height: 0.88rem;color:#808083 "@click="styleTxt(index)">泥瓦人工支出</span>
                <span v-if="value.limitName=='WOOD支出'" style="display: block;float:left;width: 2rem;height: 0.88rem;color:#808083 "@click="styleTxt(index)">木作人工支出</span>
                <span v-if="value.limitName=='PAINT支出'" style="display: block;float:left;width: 2rem;height: 0.88rem;color:#808083 "@click="styleTxt(index)">油漆人工支出</span>
                </div>
            </div>
            <div class="addrec-box">
                <span style="height: 0.8rem;width:2rem;display: inline-block;">本次支出名称</span>
                <input type="text" placeholder="请输入支出名称" id="Name"   style="width: 4.5rem;color: #000" v-model="name">
            </div><!--  -->
            <div class="addrec-box">
                <span style="height: 0.8rem;width: 2rem;display: inline-block;">本次支出金额</span>
                <input type="text" placeholder="请输入支出金额" id="price"  style="width: 4.5rem;color: #000" v-model="money" >
            </div><!---->
            <div class="addrec-box">
                <span>备注</span>
                <input type="text" style="width: 4.5rem;color: #000" v-model="text">
            </div>
        </div>
                <div class="inforBox">
                        <div class="eng-box">
                            <span>上传照片</span>
                            <a href="###" @click='up=true'>上传</a>
                        </div>
                </div>
                <div  class="myengMain"  style="position: relative">
                        <div class="eng-img" v-for="(value,index) in sr" v-if="value!=''">
                       
                           <a :href="'https://zhuangneizhu.oss-cn-hangzhou.aliyuncs.com/'+value" target="view_window"><img v-bind:src="'https://zhuangneizhu.oss-cn-hangzhou.aliyuncs.com/'+value" ></a>
                           <p v-html='time'></p>
                           <span style="width: 20px;height: 20px;background-color: rgba(0,0,0,0.4);display: inline-block;position: absolute;right:0;top: 0" @click="deleat(index)" >
                                <a style="color: #fff;font-size: 15px;text-align: center;padding-bottom: 15px;padding-left: 8px;">x</a>
                            </span>
                        </div>
                </div>
                    <!--下拉弹窗-->
                <div class="member-downcai"  v-show="up"  v-cloak>
                    <form id="from" enctype="multipart/form-data">
                            <h3>
                                本地上传
                                <input type="file"  name="files" multiple="multiple" class="img-file">
                            </h3>
                    </form>
                        <h3 style="margin-top: 0.1rem" @click="up=false">取消</h3>
                </div>
                    <!--弹窗幕-->
                <div class="main-mucai" v-show="up" @click="up=false"></div>
                <div style="width: 7.5rem;height:1.2rem;background-color: #fff;position: fixed;bottom: 0">
                    <input class="photodeleat" type="submit" value="确定" @click="_add()">
                </div>
    </div>
</div>
</body>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
let data2= localStorage.getItem('key');
let userId=Number(data2);
let org=localStorage.getItem('orgkey');
let pro=localStorage.getItem('pro');
let ver=localStorage.getItem('version')
     $(function(){
        var app = new Vue({
            el:'#demo',
            data:{
                name:'',
                money:'',
                text:'',
                peopleStylearr:'',//人工支出类型
                peopleStyleShow:false,
                txt:'',//支出类型文本
                k:'',//用于判断支出类型的标识switch

                //上传图片用到的
                pjid:'',
                lu:[],//提交图片路径
                sr:[],//获取图片路径 
                time:'',//图片时间
                up:false,//下拉框和下拉框幕显示隐藏的判断值
                image:[],
                img:{
                    src:'',
                    time:''
                }
                

            }, 
            mounted(){
                var that = this;
                $("input[type='file']").change(function(){   
                   var file = this.files[0];
                   let  img={name:'',time:''};
                     var formdata= new FormData($("#from")[0])
                    console.log(formdata);
                    $.ajax({
                        url:"http://app.zhuangneizhu.com/image/addOssPhoto.do",
                        data:formdata,
                        type:'post',
                         cache: false,        // 不缓存
                        processData: false,   // 告诉jQuery不要去处理发送的数据
                        contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                        dataType:"json",
                        success:function(data){
                          var photo=data.split(",")
                          for (var i = photo.length - 1; i >= 0; i--) {
                                   console.log(photo[i]);
                                   that.sr.unshift(photo[i]);
                          }
                          that.lu.unshift(data);
                          console.log(that.lu);
                           for (var i = that.lu.length - 1; i >= 0; i--) {
                                            let a=that.lu[i]
                                           if(a.substring(0, 1)=="p"){
                                                that.time=a.substring(10, 20);
                                           }else if(a.substring(0, 1)=="i"){
                                                 that.time=a.substring(6, 16);
                                           }
                                }
                        }
                    })
                })
            },
            beforeCreate:function(){
                var that=this;
                $.ajax({     //.获取人工支出限额列表
                            "url":"http://app.zhuangneizhu.com/v3/project/getWorkerExpenseLimit.do",
                            "type":"post",
                            "anyns":true,
                            data:{ 
                            projectId:pro,
                            userId:userId,
                            organizationId:org,
                            version:ver
                            },
                            "dataType":"json",
                            "success":function(data){
                            console.log(data);
                            that.peopleStylearr=data.data;
                            },
                            "error":function(){
                            console.log("输入有误");
                            }
                        });
            },
            methods:{
                    back:function(){
                        window.location.href="human.html";
                    },
                    showOnOff:function(){
                        this.peopleStyleShow=true;
                    },
                    styleTxt:function(index){
                       var that=this;
                       var txt=this.peopleStylearr[index].limitName;
                        if(txt=='WATEELECTRICITY支出'){
                            that.txt="水电人工支出"
                        }else if(txt=='MUD支出') {
                            that.txt="泥瓦人工支出"
                        }else if(txt=='WOOD支出'){
                            that.txt="木作人工支出"
                        }else if(txt=='PAINT支出'){
                            that.txt="油漆人工支出"
                        }
                        this.k=this.peopleStylearr[index].expenseTypeId;
                        this.peopleStyleShow=false;
                    },
                    _add:function(){
                        var  that=this;
                        if(that.k==1){
                            $.ajax({     //添加水电支出记录
                                "url":"http://app.zhuangneizhu.com/v2/set/addWaterElectricityRecord.do",
                                "type":"post",
                                "anyns":true,
                                data:{ 
                                userId:userId,
                                projectId:pro,
                                organizationId:org,
                                 version:ver,
                                 name:that.name,
                                 money:that.money,
                                 appType:"znz",
                                 photo:that.lu.join(","),
                                 remark:that.text
                                },
                                "dataType":"json",
                                "success":function(data){
                                },
                                "error":function(){
                                     console.log("输入有误");
                              }
                            });
                        }else if(that.k==2){
                            $.ajax({     //添加泥瓦支出记录
                                    "url":"http://app.zhuangneizhu.com/v2/set/addMudRecord.do",
                                    "type":"post",
                                    "anyns":true,
                                    data:{ 
                                    userId:userId,
                                    projectId:pro,
                                    organizationId:org,
                                     version:ver,
                                     name:that.name,
                                     money:that.money,
                                     appType:"znz",
                                     photo:that.lu.join(","),
                                     remark:that.text
                                    },
                                    "dataType":"json",
                                    "success":function(data){
                                    },
                                    "error":function(){
                                         console.log("输入有误");
                                    }
                            });
                        }else if(that.k==3){
                            $.ajax({     //添加木作支出记录
                                    "url":"http://app.zhuangneizhu.com/v2/set/addWoodRecord.do",
                                    "type":"post",
                                    "anyns":true,
                                    data:{ 
                                    userId:userId,
                                    projectId:pro,
                                    organizationId:org,
                                     version:ver,
                                     name:that.name,
                                     money:that.money,
                                     appType:"znz",
                                     photo:that.lu.join(","),
                                     remark:that.text
                                    },
                                    "dataType":"json",
                                    "success":function(data){
                                    },
                                    "error":function(){
                                         console.log("输入有误");
                                    }
                            });
                        }else if(that.k==4){
                            $.ajax({     //添加油漆支出记录
                                    "url":"http://app.zhuangneizhu.com/v2/set/addPaintRecord.do",
                                    "type":"post",
                                    "anyns":true,
                                    data:{ 
                                    userId:userId,
                                    projectId:pro,
                                    organizationId:org,
                                    version:ver,
                                    name:that.name,
                                    money:that.money,
                                    appType:"znz",
                                    photo:that.lu.join(","),
                                    remark:that.text
                                    },
                                    "dataType":"json",
                                    "success":function(data){
                                    },
                                        "error":function(){
                                             console.log("输入有误");
                                    }
                            });
                        }
                        window.location.href="human.html";
                    },
                    deleat:function(index){
                        let that=this
                          switch(that.k){
                            case 1:
                                that.sr.splice(index,1,'');
                                console.log(that.sr);
                                that.lu=that.sr;
                            break;
                            case 2:
                                that.sr.splice(index,1,'');
                                console.log(that.sr);
                                that.lu=that.sr;
                            break;
                            case 3:
                                that.sr.splice(index,1,'');
                                console.log(that.sr);
                                that.lu=that.sr;
                            break;
                            case 4:
                                that.sr.splice(index,1,'');
                                console.log(that.sr);
                                that.lu=that.sr;
                            break;
                         }
                    }
            }
    })
})
</script>
</html>