<!DOCTYPE html>
<html lang="en" id="app">
<head>
    <meta charset="UTF-8">
    <title>装内助SaaS系统PC移植版</title>
    <link href="../image/titlogo.ico" rel="SHORTCUT ICON">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="blank"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <link rel="stylesheet" href="../css/index.css ">
    <link rel="stylesheet" type="text/css" href="../css/loding.css">
    <script type="text/javascript" src="../js/JR.js"></script>
</head>
<body>
<div class="wap-wrap" id="demo" v-cloak>
    <!-- 加载开始 -->
    <div id="loader-wrapper" style="margin: 0,auto;position: absolute;" v-show="loding">
        <div id="loader"></div>
        <div class="loader-section"></div>
    </div>
    <!-- 加载结束 -->
    <div class="personnelTit">
        <div @click="back"></div>
        <span >其他支出记录</span>
        <a @click="ston" class="blue header-tit-r">说明</a>
    </div>
    <div class="main" style="top: 0.88rem;bottom: 0.88rem;padding-top: 0.2rem">
        <div class="human" v-show="show" >
            <p style="font-size: 0.24rem;">记录每一笔工长开给工人的工资金额，一旦超过内控最高限额会有提醒，仅管理员能添加和查看项目各支出记录。</p>
        </div>
        <div class="recordBox">
            <div class="record-box" @click="_set()">
                <span class="record-L">其他支出限额</span>
                <span class="record-L02">{{limit.limitMoney}}</span>
                <i></i>
                <div class="record-R">
                    元
                </div>
            </div>
            <div class="record-box">
                <span class="record-L" >其他支出总额</span>
                <span class="record-L02">{{limit.totalMoney}}</span>
                <div class="record-C">
                    <span v-if="limitmon>=total">未超额</span>
                    <span v-else class="red">已超额</span>
                </div>
                <div class="record-R">
                    元
                </div>
            </div>
        </div>
        <div class="recordTit">
            <span>支出名称</span>
            <span>以支出金额</span>
        </div>
        <div class="record-main">
            <div class="record-li" v-for="(ite,index) in item"  @click="_deleat(index)">
                <div>
                    <p style="display: block;margin-top:0.25rem;font-size: 0.28rem">{{ite.name}}</p>
                </div>
                <div>
                    <span>{{ite.money}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="staff-Fot" @click="_link">其他支出</div>
</div>
</body>
<script src="../js/jquery.min.js"></script>
<script src="../js/vue.js"></script>
<script>
let  data2= localStorage.getItem('key');
let  userId=Number(data2);
let org=localStorage.getItem('orgkey');
let pro=localStorage.getItem('pro');
let ver=localStorage.getItem('version');
    $(function(){
        var app = new Vue({
            el:'#demo',
            data:{
                loding:true,
                limit:'',
                item:[],
                k:'',
                limitmon:'',
                total:'',
                show:false,
            },
            beforeCreate:function(){
                let that=this;
                $.ajax({     //设置其它人工支出记录
                "url":"http://app.zhuangneizhu.com/v2/set/showOtherRecord.do",
                "type":"post",
                "anyns":true,
                data:{ 
                projectId:pro,
                userId:userId,
                organizationId:org,
                 version:ver
                },
                "dataType":"json",
                "success":function(data){
                that.loding=false;
                console.log(data);
                that.item=data.data.list;
                that.limit=data.data;
                that.limitmon=parseInt(data.data.limitMoney);
                that.total=parseInt(data.data.totalMoney);
                },
                "error":function(){
                console.log("输入有误");
                }
            });
            },
            methods:{
                back:function(){
                    window.location.href="../detailed-two.html"
                },
                _deleat:function(myid){  //删除
                    console.log(myid);
                    window.location.href="../myHTML/otherdeleathuman.html?myid="+myid;
                },
                _set:function(){  //设置
                    window.location.href="../myHTML/otherlimithuman.html"
                },
                _link:function () { //新增
                    window.location.href="../myHTML/otheraddhuman.html"
                },
                ston:function(){
                    let that=this;
                    that.show=!that.show;
                }
            }
    })
})
</script>
</html> 